FLASK_SECRET_KEY=change_me

RADIUS_SERVER=clearpass.example.com
RADIUS_AUTH_PORT=1812
RADIUS_SECRET=aruba123
RADIUS_NAS_IDENTIFIER=clearpass-policy-visualiser
RADIUS_TIMEOUT=5
RADIUS_RETRIES=2

# Comma-separated list of RADIUS attributes used for role mapping
RADIUS_ROLE_ATTRIBUTES=Aruba-User-Role,Filter-Id,Class

# Future role mapping
AUTH_DEFAULT_ROLE=ReadOnly
AUTH_ADMIN_RADIUS_VALUES=Admin
AUTH_READONLY_RADIUS_VALUES=ReadOnly

# Use true when behind HTTPS
SESSION_COOKIE_SECURE=false

# to get the endpoint profil info from tipsdb
ENDPOINT_PROFILE_SOURCE=sql
ENDPOINT_SQL_FALLBACK_TO_API=true

# Optional PostgreSQL Endpoint Cache Acceleration
CP_SQL_HOST=cp1-611.arubatechs.com
CP_SQL_PORT=5432
CP_SQL_DATABASE=tipsdb
CP_SQL_USERNAME=appexternal
CP_SQL_PASSWORD=this is the password for appexternal
CP_SQL_SSLMODE=prefer

CP_SQL_QUERY_FILE=sql/endpoint_profiles.sql