# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# test scripts and other copies
test_*.py
*copy*
templates/*copy*

# Virtual Environments
.venv/
venv/

# test directory
test_scripts/

# Environment Files
.env
.env.*
!.env.example

# Secrets
config.yaml
cert.pem
key.pem
.flask_secret
.visualiser.env

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/